{
  CIDER: {
    cider_version: "0.43.0",
    dependencies: {
      nuget: "nuget-dependencies",
      tatin: "tatin-dependencies",
    },
    dependencies_dev: {
      tatin: "tatin-dependencies_dev",
    },
    distributionFolder: "dist",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "Mutsu",
    project_url: "https://github.com/tiamatica/mutsu",
    source: "APLSource",
    tests: "RunTests",
    version: "",
  },
  LINK: {
    forceFilenames: 1,
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
