{
  CIDER: {
    dependencies: {
      nuget: "",
      tatin: "",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "Mutsu",
    project_url: "https://github.com/tiamatica/mutsu",
    source: "APLSource",
    tests: "Tests.TestMutsu",
  },
  LINK: {
    forceFilenames: 1,
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
